h1{
	text-align: center;
}
form {
	margin: 0 auto;
	
	width: 30%;
	box-shadow: rgba(149, 157, 165, 0.54) 0px 8px 24px;
	padding: 30px;
}

label {
font-size: 20px;
float: left;
margin-left: 10px;
margin-top: 20px;
}

input {
margin-top: 20px;
cursor: pointer;
width: 97%;
font-size: 18px;
height: 40px;

}

.lo{
margin-top: 20px;
background-color: teal;
color: rgb(255, 255, 255);
border: none;
cursor: pointer;
padding: 10px;
font-size: 20px;
width: 100%;
border-radius: 10px;
}
